{% extends 'base.html' %}

{% block page_content %}

    <div class="jumbotron" style="background-color:#a3c2c2">
  <h1 style="font-family: 'Cormorant', serif"><center><br>Forgot password</center></h1>
   
</div>

<div class="row">
  <div class="col-md-3"></div>
  <div class="col-md-6">
  <div class="flex-container pl " style="text-align: center;align-items: center">
  	
  	<form method="post" >
    {% csrf_token %}
   
    <div class="form-group"  >
             <input type="text" name="email" class="form-control" placeholder=" email ">              
              </div>

    <button type="submit" class="button" style="float:right">Submit</button>
  </form>
  </div></div>
  <div class="col-md-3"></div>
</div>
  
{% endblock %}