{% extends 'base.html' %}
{% block page_content %}
  {% if validlink %}
  <div class="jumbotron" style="background-color:#a3c2c2">
  <h1 style="font-family: 'Cormorant', serif;"><br><center>Change password</center></h1>
    <hr>
    <h3><a class="btn btn-primary  pl " href="/password_reset/" style="float:left">Back</a></h3>
</div>
    
    <form method="post">
      {% csrf_token %}
      <div class="card " style="max-width: 50%;margin-left: 20%">
      <div class="form-group " >
         <input class="input100 p-l-80 p-t-40" type="password" name="new_password1" placeholder="New Password"> 
          
           
          
          </div>
          <div class="form-group p-t-20 p-l-80"  >
             <input  class="input100" type="password" name="new_password2" placeholder="Confirm Password">
           
          
          </div>
      <button type="submit" class="button" style="margin-left: 15%;margin-bottom: 5%;margin-top: 5%">Submit</button>
    </div>
    </form>
    <div class="p-t-30" style="max-width: 50%;margin-left: 70%">
   {% if form.errors %}
   {% for field in form %}
   {% for error in field.errors %}
   <div class="alert alert-danger">
       <small>({{ field.label }})</small>
       <small>{{ error|escape }}</small>
   </div>
   {% endfor %}
   {% endfor %}

   {% for error in form.non_field_errors %}
   <div class="alert alert-danger">
       <small>{{ error|escape }}</small>
   </div>
   {% endfor %}
   {% endif %}
</div>
  {% else %}
    <p>
      The password reset link was invalid, possibly because it has already been used.
      Please request a new password reset.
    </p>
  {% endif %}
{% endblock %}