{% extends 'base.html' %}

{% block page_content %}
<div class="jumbotron" style="background-color:#a3c2c2">
  <h1><br><center>&nbsp</center></h1>
    
    <h3><a class="btn btn-primary  pl " href="/password_reset/" style="float:left">Back</a></h3>
</div>
  <p><center>
    We've emailed you instructions for setting your password, if an account exists with the email you entered.
    You should receive them shortly.</center>
  </p>
  <p><center>
    If you don't receive an email, please make sure you've entered the address you registered with,
    and check your spam folder.</center>
  </p>
{% endblock %}