
{% load static	 %}
<!DOCTYPE html>
<html lang="en">
<head>
	<title>Home</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->	
	<link rel="icon" type="image/png" href="{% static 'images/icons/favicon.png' %}"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'fonts/font-awesome-4.7.0/css/font-awesome.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'fonts/iconic/css/material-design-iconic-font.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'fonts/linearicons-v1.0.0/icon-font.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'vendor/animate/animate.css' %}">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="{% static 'vendor/css-hamburgers/hamburgers.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'vendor/animsition/css/animsition.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'vendor/select2/select2.min.css' %}">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="{% static 'vendor/daterangepicker/daterangepicker.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'vendor/slick/slick.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'vendor/MagnificPopup/magnific-popup.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'vendor/perfect-scrollbar/perfect-scrollbar.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'css/util.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
	<link href="https://fonts.googleapis.com/css?family=Cormorant&display=swap" rel="stylesheet"> 
	<link  href='https://fonts.googleapis.com/css?family=Kaushan Script' rel='stylesheet'>
	

<!--===============================================================================================-->
<script src="js/main.js"></script>
<!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css"> -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>
<style>
	 	.card {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgb(7, 6, 6);
  transition: 0.3s;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
  box-shadow: 0 8px 16px 0 #6666ff;
}

/* Add some padding inside the card container */


.button {
  display: block;
  margin: 1px 60px;
  padding: 10px 10px;
  width: 100px;
  height:40px;
  font-size: 15px;
  color: black;
  text-align: center;
  border-radius: 10px;
  border: 3px solid black;
  background-color: #8080ff;
  /*box-shadow: 0 4px 8px 0 rgb(16, 212, 130);*/
  line-height: 10px;
}
.button:hover {
  background-color: black;
  color:white;
  font-size:17px;
  box-shadow: 0 8px 16px 0 #8080ff;
}



	</style>
<body class="animsition">
	
	<!-- Header -->
	<header>
		<!-- Header desktop -->
		<div class="container-menu-desktop">
			<!-- Topbar -->
			<div class="top-bar">
				<div class="content-topbar flex-sb-m h-full container">
					<div class="left-top-bar" style="font-family: Kaushan Script;color:  #9999ff;">
						<b>SMART APP</b>
					</div>

					<div class="right-top-bar flex-w h-full">
						 {% if user.is_authenticated %}
						<a href="#" class="flex-c-m trans-04 p-lr-25" style="border-left: none">
							Hii {{user.first_name}}
						</a>

						<a href="/profile" class="flex-c-m trans-04 p-lr-25">
							My Account
						</a>
						<a href="/residents" class="flex-c-m trans-04 p-lr-25">
							Social
						</a>

						<a href="{% url 'password_change' %}"class="flex-c-m trans-04 p-lr-25">
							Settings
						</a>

						<a href="/accounts/logout" class="flex-c-m trans-04 p-lr-25">
							Logout
						</a>
						{% else %}
						<a href="/accounts/login" class="flex-c-m trans-04 p-lr-25">
							Login
						</a>
						{% endif %}  

					</div>
				</div>
			</div>

			<div class="wrap-menu-desktop">
				<nav class="limiter-menu-desktop container">
					
						
					<a  class="logo">
						<img src="{% static 'images/logo.png' %}" alt="IMG-LOGO">
					</a>

					
					<div class="menu-desktop">
						<ul class="main-menu">
							<!-- <li class="active-menu"> -->
								<li>
								<a href="/index">Home</a>
							
							</li>

							<li>
								<!-- <a href="product.html">Shop</a> -->
								<a href="/shop_ct">Deliver</a>
							</li>

							<li >
								<a href="/service_ct">Services</a>
							</li>

							<li>
								<a href="/h">Notices</a>
							</li>

							

						</ul>
					</div>	

					<!-- Icon header -->
					
				</nav>
			</div>	
		</div>

		<!-- Header Mobile -->
		<div class="wrap-header-mobile">
			<!-- Logo moblie -->		
			<div class="logo-mobile">
				<a><img src="{% static 'images/logo.png' %}" alt="IMG-LOGO"></a>
			</div>

		
			
			<!-- Button show menu -->
			<div class="btn-show-menu-mobile hamburger hamburger--squeeze">
				<span class="hamburger-box">
					<span class="hamburger-inner"></span>
				</span>
			</div>
		</div>


		<!-- Menu Mobile -->
		<div class="menu-mobile">
			<ul class="topbar-mobile">
				<li>
					<div class="left-top-bar">
						SMART APP
					</div>
				</li>

				<li>
					<div class="right-top-bar flex-w h-full">
						{% if user.is_authenticated %}
						<a href="#" class="flex-c-m p-lr-10 trans-04">
							hii {{user.first_name}}
						</a>

						<a href="/profile" class="flex-c-m p-lr-10 trans-04">
							My Account
						</a>
						<a href="/residents" class="flex-c-m trans-04 p-lr-25">
							Social
						</a>

						<a href="{% url 'password_change' %}" class="flex-c-m p-lr-10 trans-04">
							Settings
						</a>

						<a href="/accounts/logout" class="flex-c-m p-lr-10 trans-04">
							Logout
						</a>
						{% else %}
						<a href="/accounts/login" class="flex-c-m trans-04 p-lr-25">
							Login
						</a>
						{% endif %}  
					</div>
				</li>
			</ul>

			<ul class="main-menu-m">
				<li>
					<a href="/index">Home</a>
					
					<span class="arrow-main-menu-m">
						<i class="fa fa-angle-right" aria-hidden="true"></i>
					</span>
				</li>

				<li>
					<a href="/shop_ct">Deliver</a>
				</li>

				<li>
					<a href="/service_ct" >Services</a>
				</li>

				<li>
					<a href="/h">Notices</a>
				</li>

			

			</ul>
		</div>

		
	</header>



	<!-- Back to top -->
	<div class="btn-back-to-top" id="myBtn" style="margin-bottom: 2% ">
		<span class="symbol-btn-back-to-top">
			<i class="zmdi zmdi-chevron-up"></i>
		</span>
	</div>

<!--===============================================================================================-->	
	<script src="{% static 'vendor/jquery/jquery-3.2.1.min.js' %} "></script>
<!--===============================================================================================-->
	<script src="{% static 'vendor/animsition/js/animsition.min.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'vendor/bootstrap/js/popper.js' %}"></script>
	<script src="{% static 'vendor/bootstrap/js/bootstrap.min.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'vendor/select2/select2.min.js' %}"></script>

<!--===============================================================================================-->
	<script src="{% static 'vendor/daterangepicker/moment.min.js' %}"></script>
	<script src="{% static 'vendor/daterangepicker/daterangepicker.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'vendor/slick/slick.min.js' %}"></script>
	<script src="{% static 'js/slick-custom.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'vendor/parallax100/parallax100.js' %}"></script>
	<script>
        $('.parallax100').parallax100();
	</script>
<!--===============================================================================================-->
	<script src="{% static 'vendor/MagnificPopup/jquery.magnific-popup.min.js' %}"></script>
	<script>
		$('.gallery-lb').each(function() { // the containers for all your galleries
			$(this).magnificPopup({
		        delegate: 'a', // the selector for gallery item
		        type: 'image',
		        gallery: {
		        	enabled:true
		        },
		        mainClass: 'mfp-fade'
		    });
		});
	</script>
<!--===============================================================================================-->
	<script src="{% static 'vendor/isotope/isotope.pkgd.min.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'vendor/sweetalert/sweetalert.min.js' %}"></script>

<!--===============================================================================================-->
	<script src="{% static 'vendor/perfect-scrollbar/perfect-scrollbar.min.js' %}"></script>
	<script>
		$('.js-pscroll').each(function(){
			$(this).css('position','relative');
			$(this).css('overflow','hidden');
			var ps = new PerfectScrollbar(this, {
				wheelSpeed: 1,
				scrollingThreshold: 1000,
				wheelPropagation: false,
			});

			$(window).on('resize', function(){
				ps.update();
			})
		});
	</script>
<!--===============================================================================================-->
	<script src="{% static 'js/main.js' %}"></script>


	<div class="flex-container " style="margin-bottom: 8%">




{% load widget_tweaks %}

{% block page_content %}



{% endblock %}



</div><body>
<div class="flex-container " style="background-color:black;color:white;position:fixed; left: 0; bottom: 0; width: 100%;z-index:3;height:3%;">


 <footer>
  
 <center>Copywright <b>SMART APP</b> All rights reserved <a href="https://www.google.co.in/">
  HELP-LINK</a></center>
</footer> 
</div>

</body>
</html>
